dist
tmp
/out-tsc

node_modules

.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*

/.sass-cache
/connect.lock
/coverage
npm-debug.log
yarn-error.log
testem.log
/typings

.angular